.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--primary-color);
  text-align: center;
}

.title {
  font-family: var(--primary-font);
  font-size: 82px;
  font-weight: bolder;
}

.subtitle {
  font-family: var(--primary-font);
  font-size: 45px;
  font-weight: bolder;
}

.description {
  font-family: var(--secondary-font);
  font-size: 14px;
  margin-top: 1rem;
}

@media (max-width: 320px) {
  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 36px;
  }

  .description {
    font-size: 14px;
  }
}
